*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Verdana";
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #218380;
    padding: 15px 25px;
    color: white;
}
#leaderboard{

    cursor: pointer;
}


.container,.question-container{
    border: 1px solid rgb(73, 70, 70);
    border-radius: 10px;
    width: 50%;
    padding: 70px 30px;
    box-shadow: 10px 5px 7px rgb(187, 185, 185);
    margin: 100px auto 0;
    background-color: rgb(245, 241, 241);
}

.container >h1, .container >p,h2{
    margin: 0 0 25px 0;
}

button{
    outline: none;
    border: 2px solid rgb(221, 221, 221);
    background-color: #218380;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom:5px ;
    font-weight: 500;
    font-size: 1.1rem;
    transition: all .1s;  
}
.answer {
    width: 100%;
}
.start-quiz-btn{

    max-width: 115px;
    transition: all .1s;
}

button:active{
    transform: scale(.99);
}


.correct{
    background-color: greenyellow;
    color: black;
}

.incorrect{
    background-color: orangered;
    color: white;
}


.mcq-options    {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#blank{
    background-color: black;
    width: 20%;
    height: 2px;
    display: inline-block;
    margin: 0 5px 0 1px;

}
button , .footer > button{
    text-align: start;
    padding: 8px 16px;
}

hr{
    height: 2px;
    background-color: rgb(107, 101, 101);
    margin-bottom: 10px;

}
.footer{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    color:#833d21 ;
    
}
p > .result {
    margin-top: 110px;
}


.initial button{
    margin-bottom:0 ;
    font-weight: 300;
    padding: 4px 8px;
}

.initial input{
    padding: 3.9px;
    width: 39%;
}



.all-scores{
    margin: 20px;
}